<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>

<div class="container">

  <div class="py-5 text-center">
    <h2>쿠폰 조회</h2>
  </div>

  <div>
    <label for="couponName">쿠폰 이름</label>
    <input type="text" id="couponName" name="couponName" class="form-control" value="1" th:value="${coupon.couponName}" readonly >
  </div>
  <br>
  <div>
    <label for="phoneNumber">휴대폰 번호</label>
    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="상품A" th:value="${coupon.phoneNumber}" readonly>
  </div>
  <br>
  <div>
    <label>사용여부</label>
    <div>
      <label for="usedN">
        <input type="text" id="usedN" name="usedN" class="form-control" th:if="${coupon.usedYN == false}" value="사용가능" readonly>
      </label>
      <label for="usedY">
        <input type="text" id="usedY" name="usedYN" class="form-control" th:if="${coupon.usedYN == true}" value="사용불가" readonly>
      </label>
    </div>
  </div>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <form>
        <button formaction="userCoupon.html"
                formmethod="post"
                class="w-100 btn btn-primary btn-lg"
                th:if="${coupon.usedYN == false}"
                type="button">쿠폰 사용</button>
        <button formmethod="get"
                class="w-100 btn btn-primary btn-lg"
                th:if="${coupon.usedYN == true}"
                th:al
                type="button">쿠폰 사용</button>
      </form>
    </div>
    <div class="col">
      <button
              class="w-100 btn btn-secondary btn-lg"
              th:onclick="|location.href='@{/coupons}'|"
              type="button">목록으로</button>
    </div>
  </div>

</div> <!-- /container -->
</body>
</html>