<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<script>
    function getCode(){
        return document.getElementById("code").value;
    }
</script>

    <div class="container">

        <div class="py-5 text-center">
            <h2>QR 코드 조회</h2>
        </div>

        <div>
            <label for="code"></label>
            <input type="text" id="code" name="code" class="form-control">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button
                        class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href=@{/coupons/} + getCode()|"
                        >조회
                </button>
            </div>
        </div> <!-- /container -->
    </div>
</body>
</html>